body {
    background-color: rgb(255, 236, 232);
    color: rgb(0, 0, 0);
    font-family: arial;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

div#main {
    text-align: center;
}
